* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: $fontFamily;
}



main {
  flex-grow: 1;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}