@mixin sweets-desc{
    padding-right: 20px;
    margin-bottom: 13px;
    color: #222124;
    font-size: 14px;
    font-weight: 400;
    opacity: .4;
}

@mixin sweets-desc__responsive{
    padding-right: 0;
}

@mixin sweets-add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 13px;
    border: none;
    background-color: #F1B301;
    border-radius: 50%;
    color: #fff;
}

@mixin sweets-add__responsive{
    width: 35px;
    height: 35px;
}

@mixin sweets-item{
    display: flex;
    width: 100%;
    max-width: 540px;
    margin-bottom: 30px;
    padding: 30px 30px 20px 30px;
    border-radius: 12px;
    border: 1px solid rgba(151, 151, 151, 0.18);
}

@mixin sweets-item__responsive{
    padding: 20px;
}

@mixin sweets-title{
    margin: 0;
    margin-bottom: 10px;
    color: $colorPrimary;
    font-size: 24px;
    font-weight: 500;
}

@mixin sweets-title__responsive{
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal; 
}

@mixin sweets-num{
    color: #222124;
    font-size: 24px;
    font-weight: 700;
}

@mixin sweets-num__responsive{
    margin-top: 9px;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

@mixin sweets-pic{
    width: 180px;
    height: 180px;
    margin-right: 41px;
}

@mixin sweets-pic__responsive{
    width: 127px;
    height: 127px;
    margin-right: 28px;
}

@mixin footer-title{
    margin-bottom: 24px;
    color: #003846;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
}

