/* FOOTER STYLE START */ 
.site-footer{
    width: 100%;
    padding: 125px 0 20px 0;

    &__wrapper-start{
        display: flex;
        justify-content: space-between;
    }

    &__nav-title{
        @include footer-title
    }

    &__nav{
       
        &-item{
            margin-bottom: 5px;
            color: $colorSecondary;
            font-size: 14px;
            font-weight: 400;
            line-height: 34px;
            cursor: pointer;
        }
    }

    &__contact{
        &-title{
            @include footer-title
        }

        &-num{
            display: inline-block;
            margin-bottom: 13px;
            color: $colorPrimary;
            font-size: 25px;
            font-weight: 400;
            line-height: 33px;
        }

        &-location{
            color: $colorPrimary;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }

    &__wrapper-end{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 27px;
    }

    &__network-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 60px;
    }

    &__network-item{
        font-size: 24px;

        &__link i{
            color: #6b6b6b;
        }
    }

    &__network-item:not(:last-child){
        margin-right: 24px;
    }
}

.site-small__title{
    color: $colorPrimary;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    opacity: .7;
}
/* FOOTER STYLE END */ 

/* FOOTER RESPONSIVE STYLE START */ 
@media only screen and (max-width: 576px){
    .site-footer{
        padding-top: 30px;

        &__wrapper-start{
            flex-direction: column;
            align-items: center;
        }

        &__link-logo{
            margin-bottom: 37px;
        }

        &__nav-list{
            text-align: center;
        }

        &__contact{
            text-align: center;
        }

        &__wrapper-end{
            flex-direction: column;
            align-items: center;
        }

        &__network-list{
            margin-right: 0;
        }
    }


}
/* FOOTER RESPONSIVE STYLE END */ 