/* SWEETS TYPES STYLE START */
.swetsTypes{
    padding-top: 80px;
    
    &-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0;
        padding-top: 40px;
        margin-bottom: 140px;
        border-top: 1px solid #ddd;
    }
    
    &-list__item{
        &-btn{
            padding: 15px 27px;
            border-radius: 27px;
            color: $colorPrimary;
            font-size: 20px;
            font-weight: 400;
            border: none;
            background-color: #fff;
        }
        
        &-btn:nth-child(8){
            background-color: #F5F5F5; 
        }
    }
}

.active1{
    color: #fff;
    background-color: #F1B301;
}
/* SWEETS TYPES STYLE END */

/* SWEETS TYPES RESPONSIVE STYLE START */ 
@media only screen and (max-width:576px){
    
    .swetsTypes{
        margin-bottom: 40px;

        &-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 0;
        }
        
        &-list__item{
            margin-bottom: 20px;
            text-align: center;

            &-btn:nth-child(4){
                display: none;
            }

            &-btn:nth-child(5){
                display: none;
            }

            &-btn:nth-child(6){
                display: none;
            }
            
        }

        
    }
}
    /* SWEETS TYPES RESPONSIVE STYLE END */ 